img {
    max-width: 50%;
    min-width: 50%;
    padding: 1rem;
}

body {
    background-color: black;
}

a {
    color: lightgray;
}

p {
    font-size: 1rem;
    color: lightgray;
}

.subtitle {
    font-size: 0.8rem;
}