@font-face {
  font-family: 'Rampart One';
  src: url('../fonts/RampartOne-regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aubergine';
  src: url('../fonts/Aubergine.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../images/bg2.jpg");
  background-color: #cccccc;
  color: #C2FCF7;
  padding: 10spx;
  font-size: 18px;
  font-family: 'Playfair Display';
}

table.work-exp {
  border-collapse: collapse;
  width: 100%;
}

td.work-exp, th.work-exp {
  border: 1px solid #C2FCF7;
  padding: 8px;
}

a {
  color: #85BDBF;
}

a.nav-link {
  font-size: 30px;
  font-family: 'Rampart One';
  text-decoration: none;
  color: #040F0F;
  background-color: #00DBE6;
  padding: 10px;
  border: 2px solid #57737A;
  border-radius: 10px;
}

hr{
  height: 3px;
  background-color: #C2FCF7;
  border: none;
}

h1 {
    color: #040F0F;
    font-size: 96px;
    font-family: 'Rampart One';
    border: 5px solid #57737A;
    border-radius: 20px;
    padding: 40px;
    margin: auto;
    width: fit-content;
    background-color: #C2FCF7;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Aubergine";
  color: #00DBE6
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Aubergine";
  color: #00DBE6
}

div.bio {
  border: 0.5rem solid #85BDBF;
  border-radius: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
  background-color: #040F0F;
}

p {
  padding: 1rem;
  margin: 1rem;
  font-weight: normal;
  line-height: 1.2;
}

#navbar {
  padding: 10px;
}

img {
  max-width: 600px;
}

.cover-art {
  max-width: 250px;
}

.album-info {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}